body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #242424;
}

img { max-width: 100%; }
h1 { 
    padding: 20px;
    color: white;
}
h2 {
    font-size: 1.4rem;
    font-weight: lighter;
    color: white;
}
h3 {
    font-weight: lighter;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
    background-color: #424242;
    margin-bottom: 10px;
}

.wrapper { padding: 0 1rem;}

.commands {
    text-decoration: none;
    padding: 10px;
    max-width: 50%;
    align-self: center;
    border-color: black;
    font-size: 0.8rem;
}

.commands__row {
    text-decoration: none;
    padding: 20px;
    color: white;
    border-left-style: groove;
    border-right-style: groove;
    border-bottom-style: groove;
    border-width: thin;
    border-color: black;

}